// Define breakpoints
$breakpoint-xs: 480px;   // Extra small devices (phones)
$breakpoint-sm: 576px;   // Small devices (tablets)
$breakpoint-md: 768px;   // Medium devices (small laptops)
$breakpoint-lg: 992px;   // Large devices (desktops)
$breakpoint-xl: 1200px;  // Extra large devices (large desktops)
$breakpoint-2xl: 1400px; // Extra extra large devices (very large desktops)
$breakpoint-3xl: 1600px; // Extra extra large devices (very large desktops)
$breakpoint-4xl: 1800px; // Extra extra large devices (very large desktops)
